* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: #DFE4E6;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background-color: #EE493F;
	border-bottom: 2px solid black;
	border-radius: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 2rem;
	text-align: center;
}

/*header h1 {
	float: left;
}

header nav {
	float: right;
}

.clear-fix: :after {
	clear: both;
	content: '';
	display: block;
}*/

nav a {
	font-size: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

figure img {
	width: 50%;
	margin: 5% 20% 5% 20%;
}

#skills-list li {
	display: inline-block;
}

.projects-box {
	font-family: 'Palanquin', sans-serif;
	background-color: #A1B8B2;
	border-radius: 10px;
	margin: 0 auto;
}

#projects {
	padding-left: 1rem;
}

.inside-projects-box {
	background-color: #C0E1DB;
	border-radius: 10px;
	font-family: 'Palanquin', sans-serif;
	margin: 0 auto;
	text-align: center;
	width: 70%;
}

footer {
	border-top: 2px solid black;
}