* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 40px;
}

.container > div {
    background-color: #D3D3D3;
    justify-content: center;
}

.header {
    grid-column: 2 / -1;
    align-items: center;
}

.menu {
    grid-row: 1 / -2;
    
}

.content {
    grid-column: 2 / -1;
}

.footer {
    grid-column: 1 / -1;
    padding: 10px;
    text-align: center;
}

h1 {
    font-family: 'Lora', serif;
    text-align: center;
}

h2 {
    font-family: 'Lora', serif;
    text-align: center;
}

a:link {
    font-family: 'Lora', serif;
    text-decoration: none;
}

a:visited {
    color: #008B8B;
    font-family: 'Lora', serif;
    text-decoration: none;
}

a:hover {
    font-family: 'Lora', serif;
    text-decoration: none;
}

section > p {
    padding: .5rem .5rem .25rem;
}

.content__section > p:last-child {
    border-bottom: 1px solid black;
}

.nav__menu {
    list-style-type: none;
    flex-direction: column;
}

.nav__menu > li {
    padding: 20px 5px;
    justify-content: flex-start;
}

.project__content {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 20px;
    overflow: hidden;
}

.project__content img {
    height: 25%;
    width: 25%;
    margin-right: 15px;
    float: left;
}

.project__content1 {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.project__content1 img {
    height: 25%;
    width: 25%;
    margin-right: 15px;
    float: right;
}

